* {
	font-family:open_sanslight, Helvetica, sans-serif;
	margin:0;
	padding:0;
	color: rgb(190, 255, 255);
}
body {
	background-color: rgb(20, 20, 20);
	/*
	background-color: #9AC0FB;
	*/
}
/*
#framePage, #frameLeft, #frameRight {
	border: 2px dotted silver;
}
*/
grey {
	XXXcolor:rgba(0,0,0,0.2);
	opacity: 0.5;
}
/*
#framePage {
}
#frameLeft {
	float: left;
    width: 60px;
    min-height: 500px;
}
#frameRight {
    padding-left: 65px;
}
#frameRight div.timeLabel {
	padding-top: 40px;
}
#frameRight div.timeBig {
    font-size: 42pt;
}
*/
#frameStats {
	XXXborder: 1px solid orange;
	padding-left: 65px;
	padding-top: 50px;
}
.timeBig {
	XXXcolor: red;
    font-size: 42pt;
	line-height: 38pt;
	padding-bottom: 30px;
}
.timeLabel {
	padding-left: 5px;
}
/* # GRAPH ########################################################### */
#frameGraph {
	height: 500px;
	position:relative;
}
#graphMainLine {
	height: 500px;
	width: 3px;
	background-color: #9AC0FB;
	margin-left: 14px;
}
.graphMilestone {
	border: 2px solid #9AC0FB;
	position:absolute;
	top: 20px;
	font-size: 12px;
	width: 16px;
	height: 16px;
	background-color: #FFFFFF;
	border-radius: 50%;
	margin-left: 5px;
	color: #5E8BB5;
}
#graphSun {
	border: 2px solid #FF8800;
	width: 16px;
	height: 16px;
	background-color: #fff899;
	border-radius: 50%;
	position:absolute;
	top: 20px;
	margin-left: 5px;
}
/*
.graphMilestone .label {
	color: #5E8BB5;
	position: absolute;
    padding-left: 20px;
}
.graphMilestone .time {
	color: #5E8BB5;
	position: absolute;
	right: 0px;
	padding-right: 21px;
}
*/
/* # GRAPH ########################################################### */