* {
	font-family:open_sanslight, Helvetica, sans-serif;
	margin:0;
	padding:0;
}
body {
	background-color: #F8F8F8;
	/*
	background-color: #9AC0FB;
	*/
}
/*
#framePage, #frameLeft, #frameRight {
	border: 2px dotted silver;
}
*/
#framePage {
}
#frameLeft {
	float: left;
    width: 60px;
    min-height: 500px;
}
#frameRight {
    padding-left: 65px;
}
#frameRight div.timeLabel {
	padding-top: 40px;
}
#frameRight div.timeBig {
    font-size: 42pt;
	line-height: 38pt;
}

/* # GRAPH ########################################################### */
#frameGraph {
	height: 500px;
	position:relative;
}
#graphMainLine {
	height: 500px;
	width: 3px;
	background-color: #9AC0FB;
	margin-left: 14px;
}
.graphMilestone {
	border: 2px solid #9AC0FB;
	position:absolute;
	top: 20px;
	font-size: 12px;
	width: 16px;
	height: 16px;
	background-color: #FFFFFF;
	border-radius: 50%;
	margin-left: 5px;
	color: #8bb2d6;
}
#graphSun {
	border: 2px solid #FF8800;
	width: 16px;
	height: 16px;
	background-color: #fff899;
	border-radius: 50%;
	position:absolute;
	top: 20px;
	margin-left: 5px;
}
/* # GRAPH ########################################################### */